body{
background-color: darkgoldenrod;
font-family: cursive;
}
.honey{
    text-align: center;
}
h3{
    color: black;
    transition: all .8s;
}
.honey:hover{
    background-color: black;
    color:gold;
    font-size: 2rem; 
}
h3:hover{
    color: gold;
}
.headline {
    background-color: black;
    padding: 50px 20px;
    text-align: center;
  }
  .headline h2 {
    background-color: black;
    font-family: 'Righteous', cursive;
    position: relative;
    color:goldenrod; 
    display: inline-block;
    border-top: 2px solid;
    border-bottom: 2px solid;
    font-size: 3em;
    padding: 11px 60px;
    margin: 0; 
    line-height: 1;
}
.css{
    text-align: center;
}
.card{
    text-align: center;
}






























